@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Noto Serif", serif;
}


 section .banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

section.banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a171378;
    pointer-events: none;
    z-index: 2;
}

.banner-bg img{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.left-vartical-text{
    top: 50%;
        writing-mode: vertical-rl;
        transform: rotate(180deg) translate(62px, 50%);
        font-size: 36px;
}

.banner-content-slider-wrap{
    position: relative;
}

 .banner-content-slider {
    padding-left: 60px;
}

.splide__track{
    padding-top: 0px;
    padding-bottom: 0px;
    height: calc(0px + 80vh);
    overflow: hidden;
    position: relative;
    z-index: 0;
}